@font-face {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 600;
  src: url('./itc-avantgarde-gothic-bold.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'itc-avant-garde-gothic-pro', sans-serif;
  font-weight: 500;
  src: url('./itc-avantgarde-gothic-regular.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'minion-pro', serif;
  font-weight: 400;
  src: url('./minion-pro-regular.ttf') format('ttf');
  font-style: normal;
}
